.gridMatrixCell {
    background-color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
.gridMatrixCell.active {
    background-color: #eee;
}

#gridMatrix {
    width: 70%;
    border: 1px solid #999;
    display: grid;
    margin-bottom: 40px;
}